.card-container-background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    max-width: 500px;
    position: absolute;
    background-color: rgb(31, 26, 24);
    border: 1px solid #fff;
    z-index: 5;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 25px;

    .close-btn{
        font-size: 13px;
        position: absolute;
        right: 25px;
        top: 15px;
        cursor: pointer;
        border-bottom: 1px solid #fff;

        &:hover {
            color: gray;
            border-color: gray;
        }
    }

    .title {
        text-align: center;
        font-weight: lighter;
        letter-spacing: 1.7px;
        display: inline-block;
        margin-bottom: 2rem;
    }
    
    .production {
        display: flex;
        flex-direction: column;
        align-items: center;

        .desc {
            display: flex;
            background-color: rgb(44, 37, 35);
            border-radius: 15px;
            padding: 5px 15px;
            text-align: center;
            margin-bottom: 1.5rem;
            letter-spacing: 0.7px;
            font-size: 15px;
            line-height: 1.5;
        }

        .btn {
            cursor: pointer;
            width: 150px;
            margin-bottom: 2rem;
            padding: 15px 0;
            border: 1px solid white;
            background-color: rgb(31, 26, 24);
            color: white;
            display: flex;
            justify-content: center;
            font-size: 13px;
            letter-spacing: 0.7px;

            &:hover {
                background-color: rgb(66, 57, 55);
                transform: translateY(-3px);
                box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
            }

            &:active {
                transform: translateY(-1px);
                box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
            }
        }

        .sample {
            width: 100%;
        }
    }
}