.production-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

@media all and (max-width: 680px) {	
    .production-list{	
        flex-direction: column;	
    }
}