.dashboard-grid {
    font-size: 1.4rem;

    .header,
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.6rem;
    }

    .header {
        position: relative;
        z-index: 1;
        box-shadow: 0px 0px 5px $color-primary-black;

        &__logout {
            cursor: pointer;
            padding: 0.7rem 1.3rem;
            border-radius: 1.5rem;
            transition: all 0.3s;

            &:hover {
                background-color: darken($color-green, 15);
            }
        }
    }

    .sidenav {
        display: none;
        position: relative;
        z-index: 1;
        box-shadow: 1px 0px 5px $color-primary-black;
        flex-direction: column;
        
        &__profile {
            display: flex;
            position: relative;
            z-index: 2;
            align-items: center;
            padding: 1rem 1.5rem;
            background-color: lighten($color-primary-black, 10);

            &-img {
                width: 8rem;
                height: 8rem;
                background-color: $color-green;
                border: 1px solid $color-green;
                border-radius: 50%;
                margin-right: 1.8rem;
            }
        }

        &__list {
            padding: 0;
            margin-top: 2rem;
            list-style: none;

            &-item {
                padding: 2rem 2rem 2rem 4rem;
                display: flex;
                align-items: center;

                & :nth-child(1){
                    margin-right: .6rem;
                }

                &:hover {
                    cursor: pointer;
                    background-color: lighten($color-primary-black, 10)
                }

                .dots {
                    margin: 0 auto;
                    letter-spacing: 2.5rem;
                }
            }
        }
    }

    .main-video {
        overflow-y: scroll;
        overflow-x: hidden;

        .header-main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2rem;
            padding: 2rem;
            color: $color-white;
            background-color: $color-secondary-black;
            background: linear-gradient(to left, lighten($color-primary-black, 10), $color-primary-black);
            border-radius: 1rem;
            box-shadow: 0px 3px 8px $color-primary-black;
        
            &__heading {
                letter-spacing: 0.8px;

                &-primary {
                    font-weight: lighter;
                }
            }

            &__add-btn {
                cursor: pointer;
                background-color: darken($color-green, 10);
                padding: 1.2rem 1.5rem;
                border-radius: 2.5rem;
                transition: all 0.3s;

                &:hover {
                    background-color: $color-green;
                    transform: scale(1.1) translateY(-3px);
                    box-shadow: 0px 3px 8px $color-primary-black;
                }

                &:active {
                    transform: scale(1) translateY(-1px);
                    box-shadow: 0px 1px 3px $color-primary-black;
                }
            }
        }

        .videocards {
            display: flex;
            justify-content: space-evenly;
            flex-flow: wrap;

            &__card {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 2rem;
                padding: 2rem;
                color: $color-white;
                background-color: $color-secondary-black;
                width: 30rem;
                box-shadow: 0px 3px 8px $color-primary-black;

                &-video {
                    width: 25rem;
                    height: 15rem;
                }

                &-title {
                    cursor: pointer;
                    margin-top: 3rem;
                    font-weight: 600;
                    letter-spacing: 1.7px;
                    color: $color-green;
                    transition: all 0.3s;

                    &:hover {
                        color: $color-white
                    }
                }
            }
        }
    }

    .main-video-container {
        overflow-y: scroll;
        overflow-x: hidden;

        .header-main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2rem;
            padding: 2rem;
            color: $color-white;
            background-color: $color-secondary-black;
            background: linear-gradient(to left, lighten($color-primary-black, 10), $color-primary-black);
            border-radius: 1rem;
            box-shadow: 0px 3px 8px $color-primary-black;
        
            &__heading {
                letter-spacing: 0.8px;

                &-primary {
                    font-weight: lighter;
                }
            }
        }

        .container {
            margin: 2rem;
            display: flex;
            flex-flow: wrap;
            justify-content: space-evenly;

            &__video {
                width: 100%;
                max-width: 45rem;
                margin-bottom: 3rem;
            }

            &__todos {
                width: 45rem;
                &-todo {
                    position: relative;
                    margin-bottom: 2rem; 
                    color: $color-white;
                    background-color: $color-secondary-black;
                    box-shadow: 2px 2px 15px $color-primary-black;
                
                    &-time {
                        letter-spacing: 4px;
                        padding: 1.5rem;
                        background-color: $color-primary-black;
                    }

                    &-todo {
                        padding: 1.5rem;
                        line-height: 1.5;
                    }

                    &-delete {
                        position: absolute;
                        padding: 1.5rem;
                        top: 0rem;
                        right: 0rem;
                        transition: all 0.3s;
                    
                        &:hover {
                            background-color: $color-red;
                        }
                    }
                }
            }
        }
    }

    .main-charts {
        overflow-y: scroll;
        overflow-x: hidden;

        .header-main {
            display: flex;
            flex-direction: column;
            margin: 2rem;
            padding: 2rem;
            color: $color-white;
            background-color: $color-secondary-black;
            background: linear-gradient(to left, lighten($color-primary-black, 10), $color-primary-black);
            border-radius: 1rem;
            box-shadow: 0px 3px 8px $color-primary-black;
        
            &__heading {
                letter-spacing: 0.8px;

                &-primary {
                    font-weight: lighter;
                    margin-bottom: 3rem;
                }
            }
        }

        .charts-container {
            display: flex;
            justify-content: space-evenly;
            flex-flow: wrap;

            &__chart {
                padding: 2rem;
            }
        }
    }

    .main {
        .header-main {
            display: flex;
            justify-content: space-between;
            margin: 2rem;
            padding: 2rem;
            color: $color-white;
            background-color: $color-secondary-black;
            background: linear-gradient(to left, lighten($color-primary-black, 10), $color-primary-black);
            border-radius: 1rem;
            box-shadow: 0px 3px 8px $color-primary-black;
        
            &__heading {
                letter-spacing: 0.8px;

                &-primary {
                    font-weight: lighter;
                    margin-bottom: 1rem;

                    .user {
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }

                &-secondary {
                    font-weight: lighter;
                }
            }
        }

        .main-overview {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(26.5rem, 1fr));
            grid-gap: 2rem;
            margin: 2rem;

            .overviewcard {
                cursor: pointer;
                color: $color-white;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 2rem;
                background: linear-gradient(to left, lighten($color-primary-black, 10), $color-primary-black);
                transition: all 0.3s;

                &__icon {
                    color: $color-green;
                    font-size: 13rem;
                }

                &__info {
                    font-size: 2.2rem;
                    letter-spacing: 1.5px;
                }

                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0px 3px 8px $color-primary-black;

                }

                &:active {
                    transform: translateY(-1px);
                    box-shadow: 0px 1px 4px $color-primary-black;
                }
            }
        }
    }
}