.todo-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid white;

    .todo-time {
        width: 50px;
        display: flex;
        justify-content: center;
        padding: 10px 9px;
        border-right: 1px solid white;
    }

    .todo-text {
        display: flex;
        word-break: break-all;
        padding: 10px 9px;
        width: 180px;
    }

    .todo-delete {
        background-color: #d91e18;
        padding: 10px 10px;
    }

    &:hover .todo-delete {
        cursor: pointer;
    }
}