.todo-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    & .todo-time {
        display: flex;
        justify-content: center;
        padding: 15px 9px;
    }

    & .todo-text {
        padding: 5px 9px;
    }

    & .todo-delete {
        display: none;
        background-color: #d91e18;
        border-radius: 5px;
        padding: 5px;
    }

    &:hover .todo-delete {
        display: block;
    }
}