.sign-in-and-sign-out {
    display: flex;
    width: 100%;
    font-size: 1.4rem;
    justify-content: space-evenly;
    margin: 3rem auto;
    color: rgb(255, 255, 255);
    padding: 2.5rem 3.5rem;

    .infopanel {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 2rem 3rem;

        &__heading-primary {
            font-weight: lighter;
            letter-spacing: 1.2px;
            margin-bottom: 3rem;
        }

        &__description {
            width: 40rem;
            line-height: 1.5;
        }
    }
}