.settings-production-item {
    width: 300px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    margin: 15px;

    .settings-input {
        background: none;
        color: white;
        width: 95%;
        margin: 7px 0;
        padding: 7px;
    }

    .submit {
        background: none;
        color: white;
        padding: 7px 15px;
        border-radius: 15px;
        outline: none;
    }
}