.todo-input {
    width: 100%;
    display: flex;
    flex-direction: reverse;
    justify-content: center;

    .input {
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        padding: 1rem;
        width: 100%;
        color: #fff;
        outline: none;
    }

    .input-time {
        background-color: rgba(0, 0, 0, .5);
        padding: 1rem;
        width: 35px;
        color: #fff;
        outline: none;
        text-align: center;
    }

    & .btn-submit {
        background-color: rgba(0, 0, 0, .2);
        width: 55px;
        color: #fff;
        outline: none;
        text-align: center;
    }
}